

<div class="container">
  <h1>To-Do Application</h1>
  <hr>
  <form (ngSubmit)="onSubmit(taskForm)" #taskForm="ngForm">
    <div class="mb-3">
      <label for="task" class="task">Task</label>
      <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter task" ngModel name="task" >
      <div id="errorMessage" class="form-text text-danger">Required field.</div>
    </div>

    <button id="submitButton" type="submit" class="btn btn-primary">Submit</button>
  </form>

  <hr>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Task</th>
        <th scope="col">Completed</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of taskArray; index as i">
        <td> {{ task.taskName }} </td>
        <td><input id="myCheckbox" type="checkbox"></td>
        <td> <button class="btn btn-danger btn-sm" (click)="onDelete(i)" >Delete</button> </td>
      </tr>
    </tbody>
  </table>



</div>

